<div class="container-fluid car">
    <div class="row">
        <div class="col-md-4">
            <form action="" class="myform" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
                <div class="form-group">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
                    <button class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-md-7"></div>
    </div>
</div>